/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <150>;
    flavor = "tap-preferred";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Main-WIN {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC     &kp N1          &kp N2          &kp N3        &kp N4              &kp N5                          &kp N6         &kp N7               &kp N8             &kp N9           &kp N0           &kp GRAVE
&kp TAB     &kp Q           &kp W           &kp F         &kp P               &kp B                           &kp J          &kp L                &kp U              &kp Y            &kp SEMICOLON    &kp MINUS
&kp LSHIFT  &mt LEFT_GUI A  &mt LEFT_ALT R  &mt LSHIFT S  &mt LEFT_CONTROL T  &kp G                           &kp M          &mt RIGHT_CONTROL N  &mt RIGHT_SHIFT E  &mt RIGHT_ALT I  &mt RIGHT_GUI O  &kp SQT
&kp LCTRL   &kp X           &kp C           &kp D         &kp V               &kp Z   &to 0        &to 3      &kp K          &kp H                &kp COMMA          &kp PERIOD       &kp FSLH         &kp CAPSLOCK
                                            &kp LEFT_WIN  &kp LEFT_ALT        &mo 1   &kp ENTER    &kp SPACE  &kp BACKSPACE  &mo 2                &kp ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "WIN";
        };

        Symbols {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Symbols";
            bindings = <
&kp F1             &kp F2             &kp F3           &kp F4          &kp F5            &kp F6                        &trans         &trans                &trans                 &trans     &trans           &trans
&kp F7             &kp F8             &kp F9           &kp F10         &kp F11           &kp F12                       &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PLUS   &kp MINUS        &kp EXCLAMATION
&kp GRAVE          &kp EXCL           &kp AT           &kp HASH        &kp DOLLAR        &kp PRCNT                     &kp CARET      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL  &kp KP_ASTERISK  &kp TILDE
&kp K_VOLUME_DOWN  &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp K_PREVIOUS  &kp K_PLAY_PAUSE  &kp K_NEXT  &trans    &trans  &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LBRC   &kp GRAVE        &kp PIPE
                                                       &trans          &trans            &trans      &trans    &trans  &kp DELETE     &kp LC(DELETE)        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Nav {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Nav";
            bindings = <
&bt BT_CLR        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans       &trans     &trans     &trans    &trans     &trans
&kp GRAVE         &kp N1        &kp N2        &kp N3        &kp N4        &trans                          &trans       &kp N7     &kp N8     &kp N9    &kp N0     &kp PAGE_UP
&kp LEFT_SHIFT    &kp LEFT_GUI  &trans        &trans        &trans        &kp HOME                        &kp END      &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &kp PAGE_DOWN
&kp LEFT_CONTROL  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                                              &trans        &trans        &trans        &trans    &trans  &trans       &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        MAC {
            label = "MAC";
            display-name = "Mac";
            bindings = <
&kp ESC     &kp N1              &kp N2          &kp N3        &kp N4          &kp N5                          &kp N6         &kp N7           &kp N8             &kp N9           &kp N0               &kp GRAVE
&kp TAB     &kp Q               &kp W           &kp F         &kp P           &kp B                           &kp J          &kp L            &kp U              &kp Y            &kp SEMICOLON        &kp MINUS
&kp LSHIFT  &mt LEFT_CONTROL A  &mt LEFT_ALT R  &mt LSHIFT S  &mt LEFT_GUI T  &kp G                           &kp M          &mt RIGHT_GUI N  &mt RIGHT_SHIFT E  &mt RIGHT_ALT I  &mt RIGHT_CONTROL O  &kp SQT
&kp LCTRL   &kp X               &kp C           &kp D         &kp V           &kp Z   &to 0        &to 3      &kp K          &kp H            &kp COMMA          &kp PERIOD       &kp FSLH             &kp CAPSLOCK
                                                &kp LEFT_WIN  &kp LEFT_ALT    &mo 4   &kp ENTER    &kp SPACE  &kp BACKSPACE  &mo 5            &kp ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Symbols-Mac {
            display-name = "Symbols-Mac";
            bindings = <
&kp F1             &kp F2             &kp F3           &kp F4          &kp F5            &kp F6                        &trans         &trans                &trans                 &trans     &trans           &trans
&kp F7             &kp F8             &kp F9           &kp F10         &kp F11           &kp F12                       &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PLUS   &kp MINUS        &kp EXCLAMATION
&kp GRAVE          &kp EXCL           &kp AT           &kp HASH        &kp DOLLAR        &kp PRCNT                     &kp CARET      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL  &kp KP_ASTERISK  &kp TILDE
&kp K_VOLUME_DOWN  &kp K_VOLUME_DOWN  &kp K_VOLUME_UP  &kp K_PREVIOUS  &kp K_PLAY_PAUSE  &kp K_NEXT  &trans    &trans  &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LBRC   &kp GRAVE        &kp PIPE
                                                       &trans          &trans            &trans      &trans    &trans  &kp DELETE     &kp LC(DELETE)        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Nav-Mac {
            display-name = "Nav-Mac";
            bindings = <
&bt BT_CLR        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans       &trans     &trans     &trans    &trans     &trans
&kp GRAVE         &kp N1        &kp N2        &kp N3        &kp N4        &trans                          &trans       &kp N7     &kp N8     &kp N9    &kp N0     &kp PAGE_UP
&kp LEFT_SHIFT    &kp LEFT_GUI  &trans        &trans        &trans        &kp HOME                        &kp END      &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &kp PAGE_DOWN
&kp LEFT_CONTROL  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
                                              &trans        &trans        &trans        &trans    &trans  &trans       &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
